body {
    background-color: #e0ffea;
    text-align: center;
    font-family: arial, sans-serif;
}

img {
    border: none;
}

h2 {
    color: indigo;
    font-weight: bold;
}

li {
    list-style-type: disc;
}

.btn {
    max-height:60px;
    position: fixed;
    background-color: #333;
    color: #ccc !important;
    padding: 15px;
    bottom: 0;
    text-align:center;
    border-radius: 10px 10px 0 0;
}


.btn a:link, .btn a:visited {
    color: #ccc !important;
    text-decoration: none;
}

a:link, a:visited {
    color: rgb(50, 50, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 175);
}

#gotoscratch {
    clear: right;
    float: left;
    max-width: 350px;
}
