body {
    background-color: #ccc;
    text-align: center;
}

img {
    border: none;
}

h2 {
    color: indigo;
    font-weight: bold;
}

li {
    list-style-type: disc;
}

.btn {
    max-height:60px;
    position: fixed;
    background-color: #333;
    color: #ccc !important;
    padding: 15px;
    bottom: 0;
    text-align:center;
    border-radius: 10px 10px 0 0;
}


.btn a:link {
    color: #ccc !important;
    text-decoration: none;
}

.btn a:visited {
    color: #ccc !important;
    text-decoration: none;
}

#gotoscratch {
    clear: right;
    float: left;
    max-width: 350px;
}
